.carousel{
    display:none;
    
/*Due to the mobile first design, the carousel control is only shown in larger screens*/
    
/*It is necessary to include the padding and the border in the width and height of the
carousel element before assign it a padding*/
    /*box-sizing: border-box;*/
    /*padding-top:80px;*/
}

/*
How to get images in Bootstrap's card to be the same height/width?
(https://stackoverflow.com/questions/37287153/how-to-get-images-in-bootstraps-card-to-be-the-same-height-width)

I solved this problem using Bootstrap 4 Emdeds Utilities

https://getbootstrap.com/docs/4.3/utilities/embed

In this case you just need to add you image to a div.embbed-responsive like this:

<div class="card">
  <div class="embed-responsive embed-responsive-16by9">
     <img alt="Card image cap" class="card-img-top embed-responsive-item" src="img/butterPecan.jpg" />
  </div>
  <div class="card-block">
    <h4 class="card-title">Butter Pecan</h4>
    <p class="card-text">Roasted pecans, butter and vanilla come together to make this wonderful ice cream</p>
  </div>
</div>

*/
.embed-responsive .card-img-top {
    object-fit: cover;
}


.carousel-caption {
    position: relative;
    left:0;
    top: 0;
}

header{
	padding:80px 0px 30px 0px;
	background: linear-gradient(90deg, #007bff94 0%, #3f4ebb 100%);
}



footer{
	padding: 20px 0;
}

.navbar-default{
	background: linear-gradient(90deg, #007bff94 0%, #3f4ebb 100%);
}

#course{
	padding:80px 0;
}

.tabtextcontent{
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
}


.tablebidcontainer{
    padding-left:0px;
    padding-right: 0px;
}

.scrollable{
    height:280px;
    overflow-y:auto;
}


@media only screen and (min-width: 800px)  {

.carousel{
        display:block;
}    
    
}